## Sample environment file.
##
## Copy this file and rename it to '.env', 
## then customize it for your environment.

## Password to unlock your wallet at startup.
## Requires that you create a wallet first using 
## the `lncli create` command in console.
#WALLET_PW=yourpassphrasehere

## Enables the use of tor.
#TOR_ENABLED=1

## Enables the use of Ngrok.
#NGROK_ENABLED=1
#NGROK_TOKEN=<accesstoken>

## Blockchain Network to Use
#NETWORK=testnet
