## Sample environment (.env) file.

# Hostname, IP address, or proxy address to your container.
# If using ngrok, it should point to -> https://127.0.0.1:8080
# (or the local IP address of your container)
REST_HOST=your_address.io:optional_port

# Password to unlock your wallet at startup.
# Requires that you create a wallet first using 
# the `lncli create` command in console.
# Once created, you can uncomment this line.
# WALLET_PW=yourwalletpassword